*{
    padding: 0;
    margin: 0;
transition: 1s;
}
.wrapper{
    background-image:linear-gradient(white,black);
    height: 100%;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    border-radius: 50px;
    gap: 1px;
    border: 1px solid transparent;
}
body{
    display: flex; align-items: center; justify-content: center; height: 100vh;
}
.card{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image:linear-gradient(#333,#fff,#333);
    width: 20%;
    height: 20%;
    border-radius: 50px;
    transition: 1s;
   
}
.activ{
    transition: 1s;
    transform: rotateY(180deg);
    background-color: white;
}
.active{
    transform: rotate(0deg);
}
